DJANGO_SETTINGS_MODULE=config.settings.production
SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=example.com
DATABASE_URL=postgresql://postgres:change-me@db:5432/postgres
REDIS_URL=redis://redis:6379/0
DEFAULT_FROM_EMAIL=noreply@example.com
LEAD_NOTIFICATION_EMAIL=
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=60
GUNICORN_KEEPALIVE=5
